<a href="https://colab.research.google.com/github/harshdhiman7/SIDTM-PDS/blob/main/DecisionMaking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#If-Else
The if-else statement is used to execute a block of code based on a condition.

In [2]:
age = 20

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

#Nested If-Else
You can nest if-else statements within each other.

In [3]:
number = 15

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
else:
    print("The number is not positive.")

The number is positive and odd.

#For Loop
The for loop is used for iterating over a sequence (such as a list, tuple, dictionary, set, or string).

In [4]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

#While Loop
The while loop executes a set of statements as long as a condition is true.

In [5]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#Do-While Loop
Python does not have a built-in do-while loop, but you can simulate it using a while loop.

In [6]:
count = 0

while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

#Functions
Functions in Python are defined using the def keyword.

In [7]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

#Combining Them All
Here is an example that combines if-else, for loop, while loop, and functions:

In [8]:
def classify_number(num):
    if num > 0:
        if num % 2 == 0:
            return "Positive and even"
        else:
            return "Positive and odd"
    elif num < 0:
        return "Negative"
    else:
        return "Zero"

def print_classifications(numbers):
    for number in numbers:
        classification = classify_number(number)
        print(f"Number {number} is {classification}")

numbers = [10, -3, 4, 0, 5]
print_classifications(numbers)

def simulate_do_while():
    count = 0
    while True:
        print(f"Count is {count}")
        count += 1
        if count >= 3:
            break

simulate_do_while()

Number 10 is Positive and even
Number -3 is Negative
Number 4 is Positive and even
Number 0 is Zero
Number 5 is Positive and odd
Count is 0
Count is 1
Count is 2

# Lambda functions,
## also known as anonymous functions, are small functions defined using the lambda keyword. They can have any number of arguments but only one expression. The expression is evaluated and returned.

In [9]:
lambda arguments: expression

#Example 1: Basic Lambda Function
## A lambda function that adds 10 to a given number.

In [10]:
add_ten = lambda x: x + 10
print(add_ten(5))  # Output: 15

15

#Example 2: Lambda Function with Multiple Arguments
##A lambda function that multiplies two numbers.

In [11]:
multiply = lambda x, y: x * y
print(multiply(3, 4))  # Output: 12

12

#Example 3: Lambda Function within a Function
## Lambda functions can be used inside other functions.

In [12]:
def make_incrementor(n):
    return lambda x: x + n

increment_by_5 = make_incrementor(5)
print(increment_by_5(10))  # Output: 15

15

#Example: Mapping with Lambda Functions
Using a lambda function with the map function to square each number in a list.

In [13]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]