<a href="https://colab.research.google.com/github/harshdhiman7/SIDTM-PDS/blob/main/SIDTM_PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python for Data Science

# Creating variables

In [1]:
integer_var = 10
float_var = 10.5
string_var = "Hello, World!"

# Printing statements
print("Integer variable:", integer_var)
print("Float variable:", float_var)
print("String variable:", string_var)

Integer variable: 10
Float variable: 10.5
String variable: Hello, World!

# Variable types & Arithmetic operations

In [2]:
# Integer data type
a = 5
b = 3

# Float data type
c = 4.2
d = 2.5

# String data type
str1 = "Hello"
str2 = "World"


addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulus = a % b
exponent = a ** b

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Modulus:", modulus)
print("Exponent:", exponent)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Modulus: 2
Exponent: 125

# Logical operations

In [3]:

logical_and = a > b and c < d
logical_or = a > b or c < d
logical_not = not(a > b)

print("Logical AND:", logical_and)
print("Logical OR:", logical_or)
print("Logical NOT:", logical_not)

Logical AND: False
Logical OR: True
Logical NOT: False

In [4]:
# 'in' operation
list_var = [1, 2, 3, 4, 5]
in_operation = 3 in list_var
not_in_operation = 6 not in list_var

print("3 in list_var:", in_operation)
print("6 not in list_var:", not_in_operation)

3 in list_var: True
6 not in list_var: True

In [5]:
# 'is' operation
is_operation = a is b
is_not_operation = a is not b

print("a is b:", is_operation)
print("a is not b:", is_not_operation)

a is b: False
a is not b: True

#Lists & List operations

In [6]:
# Lists
list1 = [1, 2, 3, 4, 5]
list2 = ["apple", "banana", "cherry"]

# List operations
list1.append(6)
list2.remove("banana")
list1.extend([7, 8, 9])
list3 = list1 + list2

print("List1 after append and extend:", list1)
print("List2 after remove:", list2)
print("Combined list3:", list3)
print("Index of cherry is:",list2.index("cherry"))

List1 after append and extend: [1, 2, 3, 4, 5, 6, 7, 8, 9]
List2 after remove: ['apple', 'cherry']
Combined list3: [1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'cherry']
Index of cherry is: 1

In [7]:
# Initial lists
list1 = [1, 2, 3, 4, 5]
list2 = ["apple", "banana", "cherry"]

# Append elements to the list
list1.append(6)
list2.append("date")
print("After append:")
print("list1:", list1)
print("list2:", list2)

# Extend the list with another list
list1.extend([7, 8, 9])
list2.extend(["elderberry", "fig"])
print("After extend:")
print("list1:", list1)
print("list2:", list2)

# Insert element at a specific position
list1.insert(0, 0)  # Insert at the beginning
list2.insert(2, "blueberry")  # Insert at index 2
print("After insert:")
print("list1:", list1)
print("list2:", list2)

# Remove element by value
list1.remove(4)
list2.remove("banana")
print("After remove:")
print("list1:", list1)
print("list2:", list2)

# Pop element from the list
popped_element1 = list1.pop()  # Pop the last element
popped_element2 = list2.pop(1)  # Pop the element at index 1
print("After pop:")
print("list1:", list1)
print("list2:", list2)
print("Popped element from list1:", popped_element1)
print("Popped element from list2:", popped_element2)

# Clear all elements from the list
list1_copy = list1.copy()  # Create a copy for further operations
list2_copy = list2.copy()  # Create a copy for further operations
list1.clear()
list2.clear()
print("After clear:")
print("list1:", list1)
print("list2:", list2)

# Reset lists for further operations
list1 = list1_copy
list2 = list2_copy

# Get the index of an element
index1 = list1.index(3)
index2 = list2.index("cherry")
print("Index of 3 in list1:", index1)
print("Index of 'cherry' in list2:", index2)

# Count occurrences of an element
count1 = list1.count(2)
count2 = list2.count("apple")
print("Count of 2 in list1:", count1)
print("Count of 'apple' in list2:", count2)

# Sort the list
list1.sort()
list2.sort()
print("After sort:")
print("list1:", list1)
print("list2:", list2)

# Reverse the list
list1.reverse()
list2.reverse()
print("After reverse:")
print("list1:", list1)
print("list2:", list2)

# List slicing
slice1 = list1[1:4]
slice2 = list2[0:2]
print("Slicing list1[1:4]:", slice1)
print("Slicing list2[0:2]:", slice2)

# List comprehension
list1_squared = [x**2 for x in list1]
list2_upper = [x.upper() for x in list2]
print("List comprehension results:")
print("list1 squared:", list1_squared)
print("list2 upper:", list2_upper)

# Concatenate lists
concatenated_list = list1 + list2
print("Concatenated list:", concatenated_list)

# Replicate lists
replicated_list1 = list1 * 2
replicated_list2 = list2 * 3
print("Replicated list1:", replicated_list1)
print("Replicated list2:", replicated_list2)

After append:
list1: [1, 2, 3, 4, 5, 6]
list2: ['apple', 'banana', 'cherry', 'date']
After extend:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2: ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
After insert:
list1: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list2: ['apple', 'banana', 'blueberry', 'cherry', 'date', 'elderberry', 'fig']
After remove:
list1: [0, 1, 2, 3, 5, 6, 7, 8, 9]
list2: ['apple', 'blueberry', 'cherry', 'date', 'elderberry', 'fig']
After pop:
list1: [0, 1, 2, 3, 5, 6, 7, 8]
list2: ['apple', 'cherry', 'date', 'elderberry', 'fig']
Popped element from list1: 9
Popped element from list2: blueberry
After clear:
list1: []
list2: []
Index of 3 in list1: 3
Index of 'cherry' in list2: 1
Count of 2 in list1: 1
Count of 'apple' in list2: 1
After sort:
list1: [0, 1, 2, 3, 5, 6, 7, 8]
list2: ['apple', 'cherry', 'date', 'elderberry', 'fig']
After reverse:
list1: [8, 7, 6, 5, 3, 2, 1, 0]
list2: ['fig', 'elderberry', 'date', 'cherry', 'apple']
Slicing list1[1:4]: [7, 6, 5]
Slicing list2[0:2]: ['fig', 'elderberry']
List comprehension results:
list1 squared: [64, 49, 36, 25, 9, 4, 1, 0]
list2 upper: ['FIG', 'ELDERBERRY', 'DATE', 'CHERRY', 'APPLE']
Concatenated list: [8, 7, 6, 5, 3, 2, 1, 0, 'fig', 'elderberry', 'date', 'cherry', 'apple']
Replicated list1: [8, 7, 6, 5, 3, 2, 1, 0, 8, 7, 6, 5, 3, 2, 1, 0]
Replicated list2: ['fig', 'elderberry', 'date', 'cherry', 'apple', 'fig', 'elderberry', 'date', 'cherry', 'apple', 'fig', 'elderberry', 'date', 'cherry', 'apple']

#Tuples and Tuple ops

In [8]:
# Tuples
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

# Tuple operations
tuple3 = tuple1 + tuple2
tuple_length = len(tuple1)

print("Combined tuple3:", tuple3)
print("Length of tuple1:", tuple_length)

Combined tuple3: (1, 2, 3, 'a', 'b', 'c')
Length of tuple1: 3

#Sets & Set Ops

In [9]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Set operations
set_union = set1.union(set2)
set_intersection = set1.intersection(set2)
set_difference = set1.difference(set2)
set1.add(9)
set2.remove(8)

print("Union of sets:", set_union)
print("Intersection of sets:", set_intersection)
print("Difference of sets:", set_difference)
print("Set1 after add:", set1)
print("Set2 after remove:", set2)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of sets: {4, 5}
Difference of sets: {1, 2, 3}
Set1 after add: {1, 2, 3, 4, 5, 9}
Set2 after remove: {4, 5, 6, 7}

# Dictionaries & Ops

In [10]:
# Initial dictionary
dict1 = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Adding a new key-value pair
dict1["email"] = "john@example.com"
print("After adding email:", dict1)

# Updating an existing key-value pair
dict1["age"] = 31
print("After updating age:", dict1)

# Removing a key-value pair using del
del dict1["city"]
print("After deleting city:", dict1)

# Removing a key-value pair using pop
popped_value = dict1.pop("email")
print("After popping email:", dict1)
print("Popped value:", popped_value)

# Removing the last inserted key-value pair using popitem
popped_item = dict1.popitem()
print("After popitem:", dict1)
print("Popped item:", popped_item)

# Accessing a value by key
name = dict1["name"]
print("Value of key 'name':", name)

# Using get() to access a value
age = dict1.get("age")
print("Value of key 'age' using get():", age)

# Using get() to access a non-existent key with a default value
country = dict1.get("country", "USA")
print("Value of key 'country' using get() with default:", country)

# Checking if a key exists in the dictionary
has_name = "name" in dict1
has_city = "city" in dict1
print("Does 'name' exist in dict1?", has_name)
print("Does 'city' exist in dict1?", has_city)

# Iterating through the dictionary
print("Iterating through dict1:")
for key, value in dict1.items():
    print(key, ":", value)

# Getting all keys
keys = dict1.keys()
print("Keys in dict1:", keys)

# Getting all values
values = dict1.values()
print("Values in dict1:", values)

# Getting all key-value pairs
items = dict1.items()
print("Items in dict1:", items)

# Copying the dictionary
dict2 = dict1.copy()
print("Copied dict2:", dict2)

# Clearing the dictionary
dict2.clear()
print("After clearing dict2:", dict2)

# Creating a dictionary from keys with a default value
keys = ["name", "age", "city"]
default_dict = dict.fromkeys(keys, "unknown")
print("Default dictionary:", default_dict)

# Updating a dictionary with another dictionary
dict1.update({"city": "San Francisco", "email": "john_new@example.com"})
print("After updating dict1 with another dictionary:", dict1)

After adding email: {'name': 'John', 'age': 30, 'city': 'New York', 'email': 'john@example.com'}
After updating age: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}
After deleting city: {'name': 'John', 'age': 31, 'email': 'john@example.com'}
After popping email: {'name': 'John', 'age': 31}
Popped value: john@example.com
After popitem: {'name': 'John'}
Popped item: ('age', 31)
Value of key 'name': John
Value of key 'age' using get(): None
Value of key 'country' using get() with default: USA
Does 'name' exist in dict1? True
Does 'city' exist in dict1? False
Iterating through dict1:
name : John
Keys in dict1: dict_keys(['name'])
Values in dict1: dict_values(['John'])
Items in dict1: dict_items([('name', 'John')])
Copied dict2: {'name': 'John'}
After clearing dict2: {}
Default dictionary: {'name': 'unknown', 'age': 'unknown', 'city': 'unknown'}
After updating dict1 with another dictionary: {'name': 'John', 'city': 'San Francisco', 'email': 'john_new@example.com'}